﻿@using two_autenticao_jwt_And_cookies.ViewModels.Admin.UsersAdminViewModels

@model LoginAdmViewModel

<div class="text-center">
    <h1 class="display-4">Login</h1>

    <form asp-controller="UsersAdmin" asp-action="AutenticarAdm">

        @if (Model.UrlRetorno != null)
        {
            <h4>Acesso negado</h4>
            <p>Pedimos desculpas, mas você precisa estar autenticado para poder acessar esta parte de nosso sistema. </p>
        }
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Nome">
                <span asp-validation-for="Nome" style="color:red"></span>

            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" asp-for="Password">
                <span asp-validation-for="Password" style="color:red"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-info">Logar</button>
    </form>
</div>

